.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 900px;
}

.header {
    border-bottom: 1px solid #000;
    font: 500 15px 'Montserrat', Arial, sans-serif;
    grid-template-rows: 50px;
    align-items: center;
}

.action {
    grid-area: action;
}

.project {
    grid-area: project;
}

.duration {
    grid-area: duration;
}

.date {
    grid-area: date;
}