.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #669999;
}

.logo {
    font: 600 30px/70px 'Montserrat', sans-serif;
    color: #fff;
}

.link {
    margin-left: 50px;
    height: 70px;
    text-decoration: none;
}